#searchInput{
    width: 200px;
}
.body{
    margin: 0px;
}
.nav{
    height:100px;
}
#maps{
    background-color: whitesmoke;
}
#bestdish1,#bestdish2,#bestdish3,#bestdish4,#bestdish5,#bestdish6,#bestdish7,#bestdish8{
    width:200px;
    height:200px;
    background-repeat: no-repeat;
    color: white;
    margin-right:10px;
    /* margin-top:40px; */
    min-width:200px;
}

#slide1 p, #slide2 p, #slide3 p{
    font-size:18px;
}
#bestdish1{
background-image: url(../images/300x300/kabab.jpeg);
}
#bestdish2{
    background-image: url(../images/300x300/chickenstri.jpeg);
}
#bestdish3{
    background-image: url(../images/300x300/drumsticks.jpeg);
  
}
#bestdish4{
    background-image: url(../images/300x300/kraftrecipe.jpeg);
    
    
}
#bestdish5{
   background-image: url(../images/300x300/chickenpiece.jpeg);
  
}
#bestdish6{
    background-image: url(../images/300x300/chickendum.jpeg);
}
#bestdish7{
    background-image: url(../images/300x300/chickenmughulai.jpeg);
}
#bestdish8{
    background-image: url(../images/300x300/biryani.jpeg);
}
#cookingplate{
    /* background-image: url(../images/cookingplate.jpg); */
background-color: whitesmoke;
}
#cookingplate h2{
    font-size: 30px;
    
}
#cookingplate button{
    margin-top:100px;
    margin-left:200px;
}
/* .navbar{
    background-image:url(../images/Darkwoodbg.jpg);
} */
#bestsellers{
    background:rgb(226, 226, 226);
    /* background-image:url(../images/Darkwoodbg.jpg); */
}
#bestsellers h1{

    font-size: 30px;
}
.row{
    margin-right:0px;
    margin-left:0px;
}
#signup{
    background-image: url(../images/Darkwoodbg.jpg);
    min-height: 300px;
    padding: 50px 0;
    color: white;
}
#footer{
    background: rgb(64, 65, 66);
}
#footer ul{
    
    padding: 10px 0;
    
}
#footer ul li{
    
    display: inline;
    color: white;
}
#footer ul li:nth-child(1){
     margin-left: 20px; 
   
}

#footer ul li:after{
    content: "   |";
}
#footer ul li:last-child:after{
    content: "";
}

#footer-icons ul li{
    display:inline;
}
#address{
    padding-left: 170px;
    background-color: whitesmoke;
    
}
@media (max-width: 768px){
    #cookingplate button{
        margin-top:100px;
        margin-left:100px;
    }
    #cookingplate h2{
        font-size: 20px;
    }
    #bestdish1,#bestdish2,#bestdish3,#bestdish4,#bestdish5,#bestdish6,#bestdish7,#bestdish8{
        margin-bottom:10px;
    }
    #address{
        padding-left: 50px;
        background-color: whitesmoke;       
    }   
}    
@media(max-width: 320px)
{
   video{
       width: 280px;
       
       margin-right:0px;
   }
   #maps{
       margin-left: -20px;
   }
   #video{
    margin-left:-10px;
   } 
   #address{
       margin-left:-20px;
   }
   #address{
    padding-left: 30px;
    background-color: whitesmoke;       
    } 
    #myCarousel h4
    {
        font-size: 20px;
    } 
    #myCarousel p{
        font-size:10px;
    }
   #bestsellers{
       margin-top:10px;   
   }
   #bestsellers h1{
       font-size: 25px;
   }
   #bestdish1{
       margin-top:10px;
   }   
 #bestdish1,#bestdish2,#bestdish3,#bestdish4,#bestdish5,#bestdish6,#bestdish7,#bestdish8{
     width:100%;
 }
 #cookingplate button{
    margin-top:120px;
    margin-left:200px;
}

h4{
    font-size:15px;
}
h2{
    font-size:20px;
}
h1{
    font-size: 25px;
}
p{
    font-size:10px;
}
 #signup h1,#singup p{
     margin-top:50px;
 } 
 .footer ul li{
    font-size: 10px;
}
#list-icon li a img{
    height:10px;
    width:10px;
}
}

/* }
@media (min-width: 400px){
    #bestdish1,#bestdish2,#bestdish3,#bestdish4,#bestdish5{
   
        margin:0px auto;
        height:250px;
    
        color: white;
        min-width:300px;
        padding:0;
    }
    #bestdish1{
        background-image: url(../images/300x300/kabab.jpeg);
        background-size: cover;    
    }
        #bestdish2{
            background-image: url(../images/300x300/chickenstri.jpeg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        #bestdish3{
            background-image: url(../images/300x300/drumsticks.jpeg);
            background-size: 100%;
        }
        #bestdish4{
            background-image: url(../images/300x300/kraftrecipe.jpeg);
            background-size: 100%;
            text-align:left;            
        }
        #bestdish5{
           background-image: url(../images/300x300/chickenpiece.jpeg);
           background-size: 100%;
           text-align:left;
        }
}
@media(min-width:200px){
    .carousel-caption h4{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    #cookingplate h2{
        font-size: 30px;
    }

    
}
@media(min-width: 700px){
    
    #bestdish1,#bestdish2,#bestdish3,#bestdish4,#bestdish5{
   
        margin:0px auto;
        height:250px;
  
        color: white;
        width: 700px;
        min-width:300px;
    }
    #bestdish1{
        background-image: url(../images/550x300/kabab.jpeg);
        background-size: 100%;    
    }
        #bestdish2{
            background-image: url(../images/550x300/chickenstri.jpeg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        #bestdish3{
            background-image: url(../images/550x300/drumsticks.jpeg);
            background-size: 100%;
        }
        #bestdish4{
            background-image: url(../images/550x300/kraftrecipe.jpeg);
            background-size: 100%;
            
        }
        #bestdish5{
           background-image: url(../images/550x300/chickenpiece.jpeg);
           background-size: 100%;
        }
        .carousel-caption h4{
            font-size: 70px;
        }
        .carousel-caption p{
            font-size: 30px;
        }
        #cookingplate h2{
            font-size: 50px;
        }
    }
@media (min-width:900px){
    
    #bestdish1,#bestdish2,#bestdish3,#bestdish4,#bestdish5{
 
        margin:0px auto;
        height:250px;
 
        color: white;
        width: 300px;
        min-width:300px;
    }
    #bestdish1{
        background-image: url(../images/300x300/kabab.jpeg);
        
    }
        #bestdish2{
            background-image: url(../images/300x300/chickenstri.jpeg);
            background-repeat: no-repeat;
        }
        #bestdish3{
            background-image: url(../images/300x300/drumsticks.jpeg);
        }
        #bestdish4{
            background-image: url(../images/300x300/kraftrecipe.jpeg);
            border-radius: 25px;  
        }
        #bestdish5{
           background-image: url(../images/300x300/chickenpiece.jpeg);
           
        }
        #cookingplate h2{
            font-size: 60px;
        }
} */
